[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pypi-cloud"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.uksouth.bink.sh/simple"
verify_ssl = true

[packages]
pytest-bdd = "*"
azure-keyvault = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
cryptography = "*"
azure-storage-blob = "!=12.9.0"
azure-identity = "*"
pytest-html = "*"
apscheduler = "*"
faker = "*"
python-dotenv = "*"
deepdiff = "*"
retry-tasks-lib = {version=">=1.10.2", index="pypi-cloud"}
sqlalchemy-utils = "*"
pydantic = "*"
arrow = "*"
types-redis = "*"
redis = "*"
pyyaml = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
isort = "*"
xenon = "*"
types-requests = "*"
ptpython = "*"
install = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"
