[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true
name = "gitlab-libraries"

[packages]
pytest-bdd = "*"
azure-keyvault = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
cryptography = "*"
azure-storage-blob = "!=12.9.0"
azure-identity = "*"
pytest-html = "*"
apscheduler = "*"
faker = "*"
python-dotenv = "*"
deepdiff = "*"
retry-tasks-lib = {version=">=1.7.1", index="gitlab-libraries"}

[dev-packages]
black = "==21.11b1"
flake8 = "*"
mypy = "*"
isort = "*"
xenon = "*"
types-requests = "*"

[requires]
python_version = "3.9"